body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.centered-block {
  margin: auto;
  width: 100%;
}
.text-margin {
    margin: 0;
}
.header {
    display: flex;
    width: 550px;
    align-items: center;
}
.p {
    color: #4E4B66;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 22px; /* 157.143% */
    letter-spacing: 0.25px;
}
.header-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}
.header-img {
    display: flex;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.logo {
    display: flex;
    padding: 16px 0px 10px 0px;
    align-items: flex-start;
    align-self: stretch;
}
.header-title {
    display: flex;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.header-title_h1 {
    color: #0576F0;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.75px;
}
.header-title_h2 {
    color: #14142B;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
    letter-spacing: 0.5px;
    height: 26px;
}
.intro {
    display: flex;
    width: 550px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.color-blue {
    color: #0576F0;
}
.intro-italic {
    font-style: italic;
    height: 22px;
    margin: 0;
}
.section-heading {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    height: 32px;
}
.bck0 {
    background: #F7F7FC;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bck1 {
 
    background: #EFF0F6;;
    display: flex;
    width: 100%;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    align-self:stretch;
    box-sizing: border-box;
}
.section1 {
    display: flex;
    width: 550px;
    padding: 16px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: #FFF;
}
.bck2 {
    background: #F7F7FC;
    display: flex;
    width: 100%;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-self: stretch;
    box-sizing: border-box;
}
.section2 {
    display: flex;
    width: 550px;
    padding: 16px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: #FFF;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.bck3 {
    background: #EFF0F6;
    display: flex;
    width: 100%;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.section3 {
    display: flex;
    width: 550px;
    padding: 16px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: #FFF;
}
.bck4 {
    background: #F7F7FC;
    display: flex;
    width: 100%;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.section4 {
    display: flex;
    width: 550px;
    padding: 16px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: #FFF;
}
.section-number {
    color: #14142B;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 100% */
    letter-spacing: 0.5px;
}
.section-title {
    color: #14142B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.5px;
}
.section_link {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.25px;
    text-decoration-line: underline;
}
.bckfoo {
    display: flex;
    width: 100%;
    padding: 16px 0px 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: auto;
}
.footer {
    display: flex;
    width: 550px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.footer-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.footer-text {
    color: #372D41;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 160% */
    letter-spacing: 0.25px;
}
